<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prithvi Karki</title>
    <style>
        body {
            font-family: monospace;
            background-color: #030303;
            color: #ccc;
            margin: 2.5rem;
        }
    </style
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" href={%static 'style.css' %}>
	  <div class="centered" > Hello lovely human! I'm Prithvi and this is one of my first websites. I built this one using my Django and HTML/CSS-copy-pasting skills. Much love from P <3.</div>
  </body>
</html>